.tabLists
  float: right;
  .tab
    float: left;
    cursor: pointer;
    border: 2qpx solid black;
    border-bottom: none;
    border-top-left-radius: 10qpx;
    border-top-right-radius: 10qpx;
    margin-right: 10qpx;
    padding: 10qpx;
    .active
      background: gray;
