@font-face
  font-family: 'FontAwesome'
  src: url('http://cdn.tvall.cn/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
      url('http://cdn.tvall.cn/fonts/fontawesome-webfont.eot?v=4.0.3'),
      url('http://cdn.tvall.cn/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
      url('http://cdn.tvall.cn/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
      url('http://cdn.tvall.cn/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  vertical-align: baseline
  font-size: 1em
  padding-right: 3px

[class^="icon-"]:after, [class*=" icon-"]:after,
[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: "FontAwesome"
  font-weight: normal
  font-style: normal
  text-align: center
  display: inline-block
  width: 1em
  text-decoration: none

.icon-home::before
  content: "\f015"

.icon-live::before
  content: "\f03d"

.icon-video::before
  content: "\f04b"

.icon-tool::before
  content: "\f0ad"

.icon-mic::before
  content: "\f130"

.icon-game::before
  content: "\f11b"

.icon-life::before
  content: "\f118"

.icon-edu::before
  content: "\f19d"

.icon-bbs::before
  content: "\f0e6"

.icon-download::before
  content: "\f0ed"

.icon-star::before
  content: "\f005"

.icon-emptystar::before
  content: "\f006"

.icon-halfstar::before
  content: "\f123"

.icon-history::before
  content: "\f1da"

.icon-recommend::before
  content: "\f08a"

.icon-rank::before
  content: "\f080"

.icon-filter::before
  content: "\f0b0"

.icon-circle-play::before
  content: "\f01d"

.icon-spin::before
  content: '\f110'

.icon-search::before
  content: '\f002'

.icon-del::before
  content: '\f00d'

.icon-back::before
  content: '\f177'

.icon-qq::before
  content: '\f1d6'

.icon-weixin::before
  content: '\f1d7'

.icon-caret-up::before
  content: '\f0d8'

.icon-comment::before
  content: '\f27b'

.icon-spin::before
  content: '\f110'
