// colors
$grayLight = #ccc
$grayLighter = #f1f1f1
$themeColor = darken(rgb(30, 164, 207), 5%)
$secondColor = #ff5a00
$thirdColor = darken(rgb(30, 164, 207), 5%)
$highlightColor = rgb(51, 157, 204)

$themeBackground = rgb(0, 12, 36)
$bodyBackground = #eee

$dividingColor = #f9f9f9
$dividingLineColor = #aaa

// $textColor = #fff
$textColor = #bcbcbc
$infoTextColor = #bbb
$summaryColor = #8f8f8f
$rateColor = #F1AE00
$norateColor = gray

$linkColor = $textColor
$linkColorHover = $thirdColor

$placeholderColor = #ddd

$baseSpacing = 20px
$baseWidth = 980px

// fonts
$fontFamily = Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif
$numFontFamily = Arial, sans-serif
$baseFontSize = 12px

// parag
$baseLineHeight = 16px
$higherLineHeight = 24px

// Forms
$inputBackground = white
$inputBorder = #ccc
$inputBorderRadius = 3px
$inputDisabledBackground = #ccc

// Dropdowns
$dropdownBackground = $btnPrimaryBackground

// Z-index
$zindexDropdown = 20
$zindexFloat = 30

// Form states and alerts
$warningText = #c09853
$warningBackground = #fcf8e3
$warningBorder = darken($warningBackground, 5%)

$errorText = #b94a48
$errorBackground = #f2dede
$errorBorder = darken($errorBackground, 5%)

$successText = #468847
$successBackground = #dff0d8
$successBorder = darken($successBackground, 5%)

$infoText = #3a87ad
$infoBackground = #d9edf7
$infoBorder = darken($infoBackground, 5%)

// bg
$sidebarbg = #0a1124
$middlebarbg = #16204a
$suggestbar = #13143a
$typebarbg = #0a1124
$deepbg = #03060e
$lightbg = #050916


// btn
$searchbtn = #141f3d
