body
  // color: $textColor
  // &::after
  //   clear-fix()
  // background-image: -webkit-linear-gradient(150deg, #292929 38%, #2E2D2D 56%, #363433 75%, #4A4A4A 100%)
  // background-size: 100% 100%
  #root
    width: 100%;
    min-height: 100%;
    background: rgba(27, 31, 44, 1);
