.tip
  position: fixed;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 40qpx;
  color: white;
  font-size: 30qpx;
  font-weight: bold;

  span
    display: inline-block;
    padding: 4qpx 8qpx;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10qpx;
