.item
  padding: 20qpx;
  width: 1400qpx;
  overflow: hidden;
  border: 1qpx solid #000;
  border-radius: 20qpx;
  margin: 30qpx auto;
  position: relative;
  &.active
    background: yellow;
  dt
    width: 100qpx;
    height: 100qpx;
    line-height: 100qpx;
    text-align: center;
    font-size: 30qpx;
    border: 1px solid #ccc;
    float: left;
    border-radius: 50%;
    margin-right: 10qpx;
  dd
    float: left;

.info
  margin-bottom: 20qpx;
  span
    margin-right: 20qpx;

.resource
  margin-right: 20qpx;
