@import '../../stylus/base';

.top {
  background: gray;
  padding: 10qpx 0;
}

.bottom {
  border: 1qpx solid #000;
  box-sizing: border-box;
  overflow: hidden;
}

.leftInfo {
  float: left;
  width: 1500qpx;
  overflow: hidden;
  box-sizing: border-box;
  border-right: 1qpx solid #000;
  padding-bottom: 50000px;
  margin-bottom: -50000px;
}

.rightInfo {
  float: left;
  width: 672qpx;
  overflow: hidden;
  box-sizing: border-box;
}

:global(.active) {
  background: green;
  color: white;
}
